<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.reef1 = "<%= asset_path("reef1.jpg") %>"
  window.reef = "<%= asset_path("reef.jpg") %>"
  window.reef3 = "<%= asset_path("reef3.jpg") %>"

</script>

<main id="root"></main>
