// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-all{
  max-height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 80%;
  width: 80%;
  border-radius: 4px;
  height: auto;
}

.modal-all:focus{
  outline: 0;
}

.modal-pic {
  height: 100%;
  width: 100%;
  max-height: 700px;
  padding-left: 10%;
  cursor: pointer;
}

.modal-pic-box {
  margin-right: 10%;
  // height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.modal-info {
  justify-content: flex-end;
  background-color: white;
  height: auto;
  width: 30%;
  z-index: 2000;
}

.modal-next-button{
  display: block;
  margin: auto;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.modal-next-button:hover{
  color: #FFFFFF;
}

.modal-close-button{
  cursor: pointer;
}

.modal-close-button{
  justify-content: flex-end;
  color: grey;
  height: 15px;
  width: 15px;
}

.modal-sidebar{
  height: 100%;
  width: 100%;
}
