// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// REVIEW INDEX

.rev-header-wrapper {
  display: flex;
  background-color: #d32323;
  height: 64px;
  margin: 0 auto 0;
  padding-top: 0;
  background-image: url("https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c146b0884f6a/assets/img/structural/header_stars.png");
  flex-direction: row;
}

.rev-pic {
  height: 168px;
  width: 168px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15px;
}

.rev-form-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-style: "Helvetica Neue";
  font-size: 40px;
  color: black;
  padding-left: 300px;
}

.rev-heading {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  padding-left: 30px;

}

.rev-link1 {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  display: block;
  padding: 12px;
  font-weight: 700;
  font-size: 13px;
  line-height: 11px;
  border-radius: 3px;
  height: 20px;
  width: 40px;
}

.rev-link1:hover {
  background-color: #bd1f1f
}
.rev-buttons {
  display: flex;
  align-items: center;
}
.rev-link2 {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  display: block;
  padding: 12px;
  font-weight: 700;
  font-size: 13px;
  line-height: 11px;
  border-radius: 3px;
  height: 20px;
  width: 50px;
  background-color: #bd1f1f
}

.rev-link2:hover {
  background-color: #a71c1c
}

.rev-text {
  order: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
  padding: 18px;
  max-width: 630px;
  width: 530px;
  height: 340px;
}

.reef-name {
  color: #0073bb;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.rev-reef-title {
  display: block;
  margin: 24px 0 12px 0;
}

.rev-reef-title:hover {
  text-decoration: underline;
}

.rating-stars{
  display: flex;
  flex-direction: row;
}

.rating-stars .star-4-selected{
  background: #f26a2c;
  border-color: #f26a2c;
}
.rating-stars .star-5-selected{
  border-color: #d90007;
  background: #d90007;
}
.rating-stars .star-3-selected{
  border-color: #f0991e;
  background: #f0991e;
}

.rating-stars .star-2-selected{
  border-color: #dcb228;
  background: #dcb228;
}

.rating-stars .star-1-selected{
  --one-starcolor: #cc8b1f;
  border-color: var(--one-starcolor);
  background: var(--one-starcolor);
}

.rating-stars option:checked{
  border-color: var();
  background: var();
}


.rev-kelp-logo{
  margin-left: 350px;
}
.rating-stars option {
  width: 0;
  height: 1.5em;
  border-width: 0 ( 1.5em / 2 );
  border-style: solid;
  border-color: #d3d3d3;
  border-radius: .22em;
  color: white;
  background: #d3d3d3;
  font-style: normal;
  line-height: 1.5em + 0.1em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px hsl(0, 0%, 70%);
  cursor: pointer;
}

.rating {
  margin: 10px 0;
  font-size: 20px;
}


// REVIEW FORM

.rev-form-body {
  display: flex;
  justify-content: flex-start;
  margin: 0 370px 0 370px;
  flex-direction: column;
}
.rev-text {
  border: 1px solid #ccc;
}

.rev-form{
  display:flex;
  flex-direction: column;
}

.rev-form-date{
  display: inline-block;

}
.rev-text {
  margin: 12px 0 12px 0;
}

.rev-form-submit {
  margin-top: 10px;
  font-weight: bold;
  width: 200px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  background-color: #d90007;
  background: linear-gradient(#d90007,#c91400); padding: 12px 18px 13px;
  font-size: 16px;
  line-height: 1.3125em;
}

.ii-revs-ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.ii-rev-preview{
  color: #666;
  align-items: flex-start;
  font-size: 15px;
}

.ii-rating{
  padding-right: 7px;
  align-items: center;
}

.ii-lat-lng {

}

.ii-preview {
  display: flex;
  flex-direction: row;
}

.blank-profile-pic {
  padding-right: 7px;
}
