// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rev-header-wrapper {
  display: flex;
  background-color: #d32323;
  height: 64px;
  margin: 0 auto 0;
  padding-top: 0;
  background-image: url("https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c146b0884f6a/assets/img/structural/header_stars.png");
  flex-direction: row;
}

.rev-form-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-style: "Helvetica Neue";
  font-size: 40px;
  color: black;
  padding-left: 300px;
}

.rev-heading {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  padding-left: 30px;

}

.rev-link1 {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  display: block;
  padding: 12px;
  font-weight: 700;
  font-size: 13px;
  line-height: 11px;
  border-radius: 3px;
  height: 20px;
  width: 40px;
}

.rev-link1:hover {
  background-color: #bd1f1f
}
.rev-buttons {
  display: flex;
  align-items: center;
}
.rev-link2 {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  display: block;
  padding: 12px;
  font-weight: 700;
  font-size: 13px;
  line-height: 11px;
  border-radius: 3px;
  height: 20px;
  width: 50px;
  background-color: #bd1f1f
}

.rev-link2:hover {
  background-color: #a71c1c
}

.rev-text {
  order: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
  padding: 18px;
  max-width: 630px;
  width: 530px;
  height: 340px;
}

.rev-reef-title {
  color: #0073bb;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.rev-reef-title:hover {
  text-decoration: underline;
}


.rating i {
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 ( 1.5em / 2 );
  border-style: solid;
  border-color: #eee;
  border-radius: .22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: 1.5em + 0.1em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px hsl(0, 0%, 70%);
  cursor: pointer;
}
.rating {
  margin: 10px 0;
  font-size: 20px;
}

@function stars-color($num) {
  @if $num == 5 {
    @return #dd050b;
  } @else if $num == 4 {
    @return #f26a2c;
  } @else if $num == 3 {
    @return #f0991e;
  } @else if $num == 2 {
    @return #dcb228;
  } @else if $num == 1 {
    @return #cc8b1f;
  }
}


@for $i from 1 through 5 {
  @for $j from 1 through $i {
    .rating-#{$i} .star-#{$j}{
      border-color: stars-color($i);
      background: stars-color($i);
    }
  }
}

// .r{
//   background-color: #dd050b;
//   height: 500px;
// }
// @media print {
//   .rating {
//     -webkit-print-color-adjust: exact;
//     i {
//       text-shadow: none;
//     }
//   }
// }
