// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-header{
  display: flex;
  justify-content: center;
}

.top-top-header{
  display: block;
  background-color: #d32323;
  height: 60px;
  position: relative;
  margin: 0 auto 0;
  padding-top: 0;
  background-image: url("https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c146b0884f6a/assets/img/structural/header_stars.png");
}

.show-submit {
  background: #d32323;
  font-weight: bold;
  background-color: #d32323;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  cursor: pointer;
  height: 30px;
  width: 100px;
  position: relative;
}


.show-input {
  padding: 15px 12px;
  height: 30px;
  width: 300px;
  margin: 0 0 18px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 11px;
  border: 1px solid #999;
}

.show-form{
  display: flex;
  flex-direction: row;
}

.show-header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.top-nav {
  display: block;
  height: 18px;
  background-color: #bd1f1f;
  min-width: 1020px;
}

.header {
  display: block
}

.show-links {
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-weight: bold;
}

.top-nav {
  list-style-type: none;
}
.show-link-holder {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.greeting-buttons {
  display: flex;
  align-items: flex-start;
}

.logout-button {
  font-weight: bold;
  background-color: #d32323;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  margin-left: 150px;
  min-height: 30px;
}

.header-links{
  
}
