<h2 class='page-header'>Search!</h2>

<div class='reefs-search'>
<form class="simple-form">
  <div>
    <label for='reef-search-input'>Reef</label>
    <input class='reef-search-input'
      type="text"
      name="reefname"
      placeholder='Enter a reefname'>
  </div>
</form>

<h4>Results</h4>
<ul class="reefs"></ul>
</div>
