/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: sans-serif;
  background: #f5f5f5;
  height: 100%;
  width: 100%;
}
html{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
}

 /*  SESSION FORM -----------------------------*/ /* TODO:  */
.welcome-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-style: "Helvetica Neue";
  font-size: 40px;
  color: black;
}

.main-header-wrapper {
  display: block;
  background-color: #d32323;
  height: 64px;
  position: relative;
  margin: 0 auto 0;
  padding-top: 0;
  background-image: url("https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c146b0884f6a/assets/img/structural/header_stars.png")
}

.entire-session-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: sans-serif;

}

.session-form {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  padding-left: 300px;
}

.session-input {
  display: flex;
  flex-direction: column;
  padding: 5px 9px;
  height: 30px;
  width: 300px;
  margin: 0 0 18px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #999;
}

.login-header {
  display: flex;
  justify-content: center;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0 10px 0;
  color: #d32323
}

.login-header2 {
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

.signup-link {
  display: flex;
  font-size: 10px;
  justify-content: flex-end;
  padding: 10px;
  color: grey;
}

.login-button {
  font-weight: bold;
  background-color: #d32323;
  color: white;
  border-radius: 4px;
  padding: 12px 18px 13px;
  font-size: 16px;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.login-image {
  height: 500px;
  width: 500px;
  border-radius: 500px;
  padding: 100px;

}

.navLink {
  text-decoration: none;
  color: #0073bb
}

.rendered-errors{
  list-style-type: none;
  justify-content: center;
  font-size: 12px;
}

.guest {
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  font-weight: bold;
  /* background-color: #d32323;
  border-color: #8d0005;
  color: white; */
  padding: 5px;
  margin-right: 70px;
  margin-left: 300px;
}

.form-col {
  display: flex;
  flex-direction: column;
}

/* GREETING PAGE/ HOME PAGE -------------------------TODO */

.greeting-page {
  background-image: url("https://images.unsplash.com/photo-1517880917162-f95d325da5e8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb3813f8e8ce7493801ee447bda199df&auto=format&fit=crop&w=1913&q=80");
  background-size: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.div-break {
  padding-top: 30px;
}
.greeting-links-1 {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}
.greeting-links-1:hover {
  text-decoration: underline;
  font-weight: bold;
}

.greeting-links-2 {
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-right: 200px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 4px;
}

.greeting-links-2:hover {
  background-color: white;
  color: #666;
}

.home-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 200px;
  font-size: 40px;
  font-border: black;
  flex-direction: column;
}


.greeting-input {

  padding: 5px 9px;
  height: inherit;
  width: 250px;
  margin: 0 0 18px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #999;
}

.greeting-form {
  display: flex;
  flex-direction: row;
}

.greeting-submit {
  background: #d32323;
  font-weight: bold;
  background-color: #d32323;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  cursor: pointer;
  height: 28px;
  width: 100px;
}
.greeting-logo {
  padding: 50px;
}
/*  ---------------------------REEF SHoW ---------------------TODO*/

.show-header{
  justify-content: center;
}

.top-top-header{
  display: block;
  background-color: #d32323;
  height: 60px;
  position: relative;
  margin: 0 auto 0;
  padding-top: 0;
  background-image: url("https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c146b0884f6a/assets/img/structural/header_stars.png");
}

.kelp-logo{
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  cursor: pointer;
  font-style: "Helvetica Neue";
  font-size: 25px;
  color: black;
  float: left;
  padding-right: 10px;
}

.show-submit {
  background: #d32323;
  font-weight: bold;
  background-color: #d32323;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  cursor: pointer;
  height: 30px;
  width: 100px;
  position: relative;
}


.show-input {
  padding: 8px 12px;
  height: inherit;
  width: 300px;
  margin: 0 0 18px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 11px;
  border: 1px solid #999;
}

.show-form{
  display: flex;
  flex-direction: row;
}

.show-header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.top-nav {
  display: block;
  height: 18px;
  background-color: #bd1f1f;
  min-width: 1020px;
}

.header {
  display: block
}

.show-links {
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-weight: bold;
}

.top-nav {
  list-style-type: none;
}
.show-link-holder {
  display: flex;
  justify-content: center;
  list-style-type: none;
}


/* -------REEF SHOW ITEM ------- TODO */
.reef-pic {
  height: 250px;
  width: 250px;
}

.show-title {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  padding-top: 6px;
  margin-top: 10px;
  line-height: 1.16667em;
  text-shadow: 0 1px rgba(255,255,255,0.7);
  display: inline;
  padding-bottom: 20px;
}

.biz-page-header {
  display: flex;
  padding-left: 24%;
  padding-right: 24%;
  justify-content: space-between;
  background: #e6e6e6;
}

.general-info-box {
  display: flex;
  justify-content: flex-start;
  /* float: left; */
}

.show-buttons {
  display: flex;
  float: right;
  align-items: center;
  justify-content: flex-end;
}

.review-button {
  height: 40px;
  width: 170px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  font-weight: bold;
  padding: 5px;
  margin-right: 70px;
  margin-left: 300px;
  color: black;
  margin-top: 10px;
}

.showcase-container {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.reef-pic-small{
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.reef-pic-big{
  width: 200px;
  height: 200px;
  transition-duration: 0.3s;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reef-pic-default{
  width: 230px;
  height: 230px;
}

.show-imgs{
  display: flex;
  float: right;
  align-items: center;
}

.show-map {
  display: flex;
  border: 1px solid #ccc;
  height: 300px;
  width: 240px;
  background-color: pink;
}


.show-bottom {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: space-between;
}

.rev-title{
  padding-bottom: 20px;
  padding-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  font-weight: bold;
  color: #d32323;
  font-size: 20px;
}

.reef-right-nav {
  display: flex;
  width: 250px;
  justify-content: center;
  padding-left: 30px;
  margin-left: 30px;
  border-left: 1px solid #ccc
}

.review-index{
  display: flex;
}

.fish-profile {
  height: 60px;
  width: 60px;
  border-radius: 4px;
}

.review-all {
  list-style: none;
  border-top: 1px solid #ccc;
  display: flex;
  color: #333;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* flex-direction: row; */
}

.user-box {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 200px;
}
.username {
  display: flex;
  color: #0073bb;
  font-weight: bold;
}

.user-location {
  color: #333;
  font-size: 13px;
  font-weight: bold;
  padding-top: 7px;
}

.user-snippet {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.rating-date {
  display: flex;
  list-style: none;
  float: right;
  flex-direction: row;
  color: #666;
}

.rating {
  padding-right: 7px;
}
.rev-right{
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.rev-body {
  width: 450px;
  padding-top: 20px;
}

[class*="icon-"] {
  display: inline-block;
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png");
  background-size: 135px 561px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  height: 14px;
  width: 85px;
  /* padding-top: 21px; */
}
.icon-five {
  background-position: 0 -547px;
}
.icon-four {
  background-position: 0 -519px;
}

.icon-three {
  background-position: 0 -491px;
}

.icon-two {
  background-position: 0 -463px;
}

.icon-one {
  background-position: 0 -435px;
}


.right-nav-title {
  font-weight: bold;
  color: #d32323;
  padding-bottom: 20px;
}

.right-nav {
  padding-left: 20px;
}

.right-nav-list {
  list-style: none;
  color: #333;
  font-size: 15px;
}

.right-nav-list-items {
  padding-bottom: 10px;
}

/* -----------REVIEW FORM ------------------------- */
.rev-header-wrapper {
  display: flex;
  background-color: #d32323;
  height: 64px;
  margin: 0 auto 0;
  padding-top: 0;
  background-image: url("https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c146b0884f6a/assets/img/structural/header_stars.png");
  flex-direction: row;
}

.rev-form-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-style: "Helvetica Neue";
  font-size: 40px;
  color: black;
  padding-left: 300px;
}

.rev-heading {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  padding-left: 30px;

}

.rev-link1 {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  display: block;
  padding: 12px;
  font-weight: 700;
  font-size: 13px;
  line-height: 11px;
  border-radius: 3px;
  height: 20px;
  width: 40px;
}

.rev-link1:hover {
  background-color: #bd1f1f
}
.rev-buttons {
  display: flex;
  align-items: center;
}
.rev-link2 {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  display: block;
  padding: 12px;
  font-weight: 700;
  font-size: 13px;
  line-height: 11px;
  border-radius: 3px;
  height: 20px;
  width: 50px;
  background-color: #bd1f1f
}

.rev-link2:hover {
  background-color: #a71c1c
}

.rev-text {
  order: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
  padding: 18px;
  max-width: 630px;
  width: 530px;
  height: 340px;
}

.rev-reef-title {
  color: #0073bb;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.rev-reef-title:hover {
  text-decoration: underline;
}

@import "compass/css3";

$font-size: 20px; 
$star-width: 1.5em;

body {
  padding: 20px;
  font-size: $font-size;
}

.rating {
  margin: 10px 0;
}

.rating i {
  display: inline-block;
  width: 0;
  height: $star-width;
  border-width: 0 ( $star-width / 2 );
  border-style: solid;
  border-color: #eee;
  border-radius: .22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: $star-width + 0.1em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px hsl(0, 0%, 70%);
}


/** Colors */

@function stars-color($num) {
  @if $num == 5 {
    @return #dd050b;
  } @else if $num == 4 {
    @return #f26a2c;
  } @else if $num == 3 {
    @return #f0991e;
  } @else if $num == 2 {
    @return #dcb228;
  } @else if $num == 1 {
    @return #cc8b1f;
  }
}

@for $i from 1 through 5 {
  @for $j from 1 through $i {
    .rating-#{$i} .star-#{$j},
    .rating-#{$i}-half .star-#{$j} {
      border-color: stars-color($i);
      // set background to avoid tiny lines between borders in print.
      background: stars-color($i);
    }
  }
  .rating-#{$i}-half .star-#{$i+1} {
    border-left-color: stars-color($i);
  }
}


/** Print */

@media print {
  .rating {
    -webkit-print-color-adjust: exact;
    i {
      text-shadow: none;
    }
  }
}
