/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: sans-serif;
  background: #f5f5f5;
  height: 100%;
  width: 100%;
}
html{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
}

 /*  SESSION FORM -----------------------------*/ /* TODO:  */
.welcome-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-style: "Helvetica Neue";
  font-size: 40px;
  color: black;
}

.main-header-wrapper {
  display: block;
  background-color: #d32323;
  height: 64px;
  position: relative;
  margin: 0 auto 0;
  padding-top: 0;
  background-image: url("https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c146b0884f6a/assets/img/structural/header_stars.png")
}

.entire-session-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: sans-serif;

}

.thanks-elliot {
	margin: 5px;
  height: 49px;
  width: 85px;
}
.thanks-elliot2 {
  height: 59px;
  width: 95px;
}

.kelp-logo{
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  float: left;
  padding-right: 10px;
}

.session-form {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  padding-left: 300px;
}

.session-input {
  display: flex;
  flex-direction: column;
  padding: 5px 9px;
  height: 30px;
  width: 300px;
  margin: 0 0 18px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #999;
}

.login-header {
  display: flex;
  justify-content: center;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0 10px 0;
  color: #d32323
}

.login-header2 {
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

.signup-link {
  display: flex;
  font-size: 10px;
  justify-content: flex-end;
  padding: 10px;
  color: grey;
}

.login-button {
  font-weight: bold;
  background-color: #d32323;
  color: white;
  border-radius: 4px;
  padding: 12px 18px 13px;
  font-size: 16px;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.login-image {
  height: 500px;
  width: 500px;
  border-radius: 500px;
  padding: 100px;

}

.navLink {
  text-decoration: none;
  color: #0073bb
}

.rendered-errors{
  list-style-type: none;
  justify-content: center;
  font-size: 12px;
}

.guest {
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  font-weight: bold;
  /* background-color: #d32323;
  border-color: #8d0005;
  color: white; */
  padding: 5px;
  margin-right: 70px;
  margin-left: 300px;
}

.form-col {
  display: flex;
  flex-direction: column;
}

/* GREETING PAGE/ HOME PAGE -------------------------TODO */

.greeting-page {
  background-image: url("https://images.unsplash.com/photo-1517880917162-f95d325da5e8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb3813f8e8ce7493801ee447bda199df&auto=format&fit=crop&w=1913&q=80");
  background-size: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 570px; */
	height: 100%;
}
.div-break {
  padding-top: 30px;
}
.greeting-links-1 {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}
.greeting-links-1:hover {
  text-decoration: underline;
  font-weight: bold;
}

.greeting-links-2 {
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-right: 200px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 4px;
}

.greeting-links-2:hover {
  background-color: white;
  color: #666;
}

.home-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 200px;
  font-size: 40px;
  font-border: black;
  flex-direction: column;
}


.greeting-input {

  padding: 5px 9px;
  height: inherit;
  width: 250px;
  margin: 0 0 18px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #999;
}

.greeting-form {
  display: flex;
  flex-direction: row;
}

.greeting-submit {
  background: #d32323;
  font-weight: bold;
  background-color: #d32323;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  cursor: pointer;
  height: 28px;
  width: 100px;
}
.greeting-logo {
  padding: 50px;
}
/*  ---------------------------REEF SHoW ---------------------TODO*/




.icon-five {
  background-position: 0 -547px;
}
.icon-four {
  background-position: 0 -519px;
}

.icon-three {
  background-position: 0 -491px;
}

.icon-two {
  background-position: 0 -463px;
}

.icon-one {
  background-position: 0 -435px;
}


.right-nav-title {
  font-weight: bold;
  color: #d32323;
  padding-bottom: 20px;
}

.right-nav {
  padding-left: 20px;
}

.right-nav-list {
  list-style: none;
  color: #333;
  font-size: 15px;
}

.right-nav-list-items {
  padding-bottom: 10px;
}
